<!DOCTYPE html>
<html>
<head>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background-color: red;
        }
        #container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        canvas {
            border: 1px solid #d3d3d3;
        }
    </style>
</head>
<body>

<div id="container">
    <canvas id="myCanvas" width="400" height="200">
        Your browser does not support the HTML canvas tag.
    </canvas>
</div>

<script>
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.font = "bold 30px Arial"; /* Жирный шрифт с размером 30px */
        ctx.textAlign = "center";
        ctx.textBaseline = "middle";
        ctx.fillText("I like", c.width / 2, c.height / 2 - 10);
        ctx.fillText("beer!", c.width / 2, c.height / 2 + 10);
    </script>

</body>
</html>
